@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  font-family: Karla, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2b283a;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25.6px;
  font-weight: 700;
  line-height: 29.93px;
  letter-spacing: -0.03em;
  text-align: center;
}

h2 {
  font-size: 20.59px;
  font-weight: 700;
  line-height: 24.07px;
  text-align: center;
}

p {
  font-size: 13.11px;
  font-weight: 400;
  line-height: 15.86px;
  letter-spacing: -0.03em;
  text-align: center;
}

button {
  background: #5035ff;
  border: 0;
  box-shadow: 0px 3.2px 7.68px 0px #0000002e;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16.38px;
  font-weight: 700;
  line-height: 19.15px;
  text-align: center;
  cursor: pointer;
}

button:active {
  background-color: #59e391;
}
